<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
        </tr>  
    </thead>
    <tbody>
        <ng-container *ngFor="let destinatario of destinatarios">
            <tr>
                <td>{{destinatario.ID}}</td>
                <td><a [routerLink]="['/Destinatario', destinatario.ID]">{{destinatario.nomDestinatario}}</a></td>
                <td>{{destinatario.direccion}}</td>
            </tr>
        </ng-container>
        <tr *ngIf="!destinatarios || destinatarios.length == 0">
            No hay destinatarios
        </tr>
    </tbody>
</table>