
<div class="col-2" >
    <app-destinatario-lista (globalElegida)="alCambiarDestinatario($event)"></app-destinatario-lista>
</div>

<div class="col-2">
    <app-ods-lista (globalElegida)="alCambiarOds($event)"></app-ods-lista>
</div>

<div class="row justify-content-md-center">
	<div class="col-8">
		<table class="table table-dark table-striped">
			<thead>
				<tr>
				<th scope="col">Nombre</th>
				<th scope="col">Fecha inicio</th>
				<th scope="col">Destinatario</th>
				<th scope="col">ods</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let proyecto of proyectos">
				<tr *ngIf="destinatarioElegido == proyecto.destinatarioID || odsElegido == proyecto.odsID">
					<th scope="row">{{ proyecto.nomProyecto }}</th>
					<td>{{ proyecto.fechaInicio }}</td>
					<td><a [routerLink]="['/Destinatario', proyecto.destinatarioID]">{{ proyecto.destinatarioID }}</a></td>
					<td>{{ proyecto.odsID }}</td>
				</tr>
				</ng-container>
			</tbody>
		</table>
	</div>
</div>
