<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="Destinatario">Destinatarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="Ods">ODS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="Pais">Paises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="Proyecto">Proyectos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>