<app-alumno-count 
    [todos] = "getTodos()"
    [hombres] = "getHombres()"
    [mujeres] = "getMujeres()"
    (globalElegido) = "alCambiar($event)">
</app-alumno-count>
<div class="col-2">
    <app-clase (globalElegida)="alCambiarClase($event)"></app-clase>
</div>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Dirección</th>
            <th>Fecha Nac</th>
            <th>Sexo</th>
        </tr>  
    </thead>
    <tbody>
        <ng-container *ngFor="let alumno of alumnos">
            <tr *ngIf="claseSeleccionada == alumno.claseID">
              <th scope="row"> <a [routerLink]="['/Alumno', alumno.nombre]"> {{ alumno.nombre }}</a></th>
              <td>{{ alumno.apellidos }}</td>
              <td>{{ alumno.direccion }}</td>
              <td>{{ alumno.fnac | date: "dd/MM/y" }}</td>
              <td>{{ alumno.sexo }}</td>
              <td>{{ alumno.claseID }}</td>
            </tr>
          </ng-container>
        <tr *ngIf="!alumnos || alumnos.length == 0">
            No hay alumnos
        </tr>
    </tbody>
</table>