<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Bandera</th>
        </tr>  
    </thead>
    <tbody>
        <ng-container *ngFor="let pais of pais">
            <tr>
                <td>{{pais.ID}}</td>
                <td>{{pais.nomPais}}</td>
                <td><img src="./../../assets/banderas/{{pais.bandera}}"></td>
            </tr>
        </ng-container>
        <tr *ngIf="!pais || pais.length == 0">
            No hay paises
        </tr>
    </tbody>
</table>